.container.complaints
  .row.justify-content-center
    %h1.col-2 Complaints
  .row.justify-content-center
    - @complaints.each do |complaint|
      .complaint.col-8
        %p= complaint.title
        %p= complaint.description
        - if user_signed_in?
          = link_to confirm_btn_label(complaint), 
                    confirm_complaint_url(complaint), 
                    class: confirm_btn_class(complaint, current_user)

