// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

/* Sticky footer */

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 50px;
  line-height: 50px; 
  background-color: var(--light);
  p {
    margin-bottom: 0;
  }
}

.form-style-10 label{
  width:100px;
  float:left;
}

.form-style-10 input[type="text"], .form-style-10 input[type="date"], .form-style-10 input[type="datetime"], .form-style-10 input[type="email"], .form-style-10 input[type="number"], .form-style-10 input[type="search"], .form-style-10 input[type="time"], .form-style-10 input[type="url"], .form-style-10 input[type="password"], .form-style-10 textarea, .form-style-10 select {
  width: 270px;
}

.info {
  padding: 12px;
}